<%- include('partials/header') %>

<section class="course-section" data-aos="fade-up">
  <h2><%= course.title %></h2>
  <p><%= course.content %></p>

  <textarea placeholder="Try the code here..."></textarea>
  <button>Validate</button>
</section>

<%- include('partials/footer') %>